openapi: 3.1.0
info:
  title: Backstage Terraform API
  description: API for making calls to Terraform Enterprise / Cloud from Backstage
  version: 0.0.1
servers:
  - url: https://app.terraform.io/api/v2
paths:
  '/health':
    get:
      description: Healthcheck endpoint to ensure the backend is running
      operationId: healthcheck
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/health'
  '/organizations/{orgName}/workspaces/{workspaceName}/runs':
    get:
      description: Returns data about the recent Terraform Runs
      operationId: getRuns
      parameters:
        - name: orgName
          in: path
          description: Name of organization to return the runs for
          required: true
          schema:
            type: string
        - name: workspaceName
          in: path
          description: Name of workspace to return the runs for
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/run'
components:
  schemas:
    health:
      title: Healthcheck
      description: Healthcheck endpoint
      type: object
      properties:
        status:
          type: string
    run:
      title: Terraform Run
      description: Description of a terraform run
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          message:
            type: string
          status: 
            type: string
          createdAt:
            type: string
          confirmedBy:
            type: object
            nullable: true
            properties:
              user:
                type: string
              avatar:
                type: string
          plan:
            type: object
            nullable: true
            properties:
              logs:
                type: string